* {
    box-sizing: border-box;
}

img.position-top {
    position: absolute;
    top: 0px;
    right: 0px;
}

img.position-middle {
    position: absolute;
    top: calc((100%/2)+1px);
    right: 0px;
}

img.position-bottom {
    position: relative;
    bottom: 0px;
    right: 0px;
}
