* {
    box-sizing: border-box;
}

.post-content img{
  float:right;
  display: block;
}

img {
    vertical-align: right;
}

.position-top img {
    position: absolute;
    top: 0px;
    right: 0px;
}

.position-middle img{
position: absolute;
    top: calc((100%/2)+1px);
    right: 0px;}

.position-bottom img{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
