* {
    box-sizing: border-box;
}

.post-content img{
  float:right;
  display: block;
}

img {
    vertical-align: right;
}

.position-top {
    position: absolute;
    top: 0px;
    left: 0px;
}

.position-middle {
    object-position: right middle;
}

.position-bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
